@import "tailwindcss";

/* Hide scrollbar but keep scroll working */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE & Edge */
    scrollbar-width: none;
    /* Firefox */
}

.service-map,
.service-map .leaflet-pane,
.service-map .leaflet-tile-pane,
.service-map .leaflet-overlay-pane,
.service-map .leaflet-shadow-pane,
.service-map .leaflet-marker-pane,
.service-map .leaflet-tooltip-pane,
.service-map .leaflet-popup-pane,
.service-map .leaflet-control-container,
.service-map .leaflet-top,
.service-map .leaflet-bottom,
.service-map .leaflet-left,
.service-map .leaflet-right,
.service-map .leaflet-control,
.service-map .leaflet-bar {
    z-index: 1 !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 20px;
}